@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px red solid;*/
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
nav {
    display: flex;
    position: sticky;
    align-items: center;
    padding: 1rem 5rem;
    background-color: rgb(240, 238, 238);
    z-index: 100;
    top: 0;
}
.logo {
    flex-shrink: 0;
    font-family: cursive;
    font-size: 30px;
    font-weight: 600;
}
.nav-links {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    gap: 5rem;
    font-size: 15px;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    background-color: rgb(204, 202, 202);
}
.nav-buttons {
    display: flex;
    margin-left: auto;
    gap: 1rem;
}
.btn {
    display: inline-block;
    border-radius: 25px;    
    padding: 0.5rem 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}
.primary {
    background: black;
    color: white;
}
.secondary {
    border: 1px black solid;
    color: black;
}
#section1 {
    min-height: 75vh;
    background-color: rgb(240, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}
.div1, .div2 {
    text-align: center;
    max-width: 60rem;
}
.div2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.div1 h1 {
    font-family: cursive;
    font-size: 3rem;
}
.div1 p {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(160, 158, 158);
}
.div4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02rem;
    margin-top: 1.2rem;
    gap: 0.8rem;
}
.star-review {
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(160, 158, 158);
    line-height: 1;
    top: 0.2rem;
    position: relative;
}
.stars {
    font-size: 2rem;
    color: gold;
    line-height: 1;
}



#section2 {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 238, 238);
}
.div3 {
    margin-top: 1rem;
}
.div3 img {
    border-radius: 50px;
}



#section3 {
    display: block;
    width: 100%;
    padding-top: 7rem;
    justify-content: center;
    background-color: rgb(240, 238, 238);
    min-height: 140vh;
    align-items: center;
}
.div5 h1 {
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
}
.span1 {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(160, 158, 158);
}
.div6 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
    padding: 2rem 5rem;
}
.div7 {
    background:rgb(240, 238, 238);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    text-align: left;
}
.div7 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}
.div7 h3 {
    margin: 0.5rem 0 0.5rem;
    font-family: cursive;
}
.div8 {
    padding: 1rem;
}
.div7 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(114, 113, 113);

}
