@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px red solid;*/
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
nav {
    display: flex;
    position: sticky;
    align-items: center;
    padding: 1rem 5rem;
    background-color: rgb(240, 238, 238);
    z-index: 100;
    top: 0;
}
.logo {
    flex-shrink: 0;
    font-family: cursive;
    font-size: 30px;
    font-weight: 600;
}
.nav-links {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    gap: 5rem;
    font-size: 15px;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    background-color: rgb(204, 202, 202);
    font-weight: 600;
}
.nav-buttons {
    display: flex;
    margin-left: auto;
    gap: 1rem;
}
.btn {
    display: inline-block;
    border-radius: 25px;    
    padding: 0.5rem 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}
.primary {
    background: black;
    color: white;
}
.secondary {
    border: 1px black solid;
    color: black;
}
#section1 {
    min-height: 75vh;
    background-color: rgb(240, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}
.div1, .div2 {
    text-align: center;
    max-width: 60rem;
}
.div2 {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.div1 h1 {
    font-family: cursive;
    font-size: 3rem;
}
.div1 p {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(160, 158, 158);
}
.div4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02rem;
    margin-top: 1.2rem;
    gap: 0.8rem;
}
.star-review {
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(160, 158, 158);
    line-height: 1;
    top: 0.2rem;
    position: relative;
}
.stars {
    font-size: 2rem;
    color: gold;
    line-height: 1;
}



#section2 {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    background-color: rgb(240, 238, 238);
}
.div3 {
    margin-top: 1rem;
}
.div3 img {
    border-radius: 50px;
}



#section3 {
    display: block;
    width: 100%;
    padding-top: 7rem;
    justify-content: center;
    background-color: rgb(240, 238, 238);
    min-height: 140vh;
    align-items: center;
}
.div5 h1 {
    font-family: cursive;
    font-size: 3rem;
    text-align: center;
}
.span1 {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(160, 158, 158);
}
.div6 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
    padding: 2rem 5rem;
    align-items: stretch;
}
.div7 {
    background:rgb(240, 238, 238);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.div7 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
    transform: scale(1);
    transition: transform 0.9s ease;
}
.div7 h3 {
    margin: 0;
    font-family: cursive;
}
.div7:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.05);
}
.div7:hover img {
    transform: scale(1.06);
}
.div8 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.div7 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(114, 113, 113);
    margin: 0.5rem 0 1rem;
}
.card-btn {
    margin-top: auto;
    align-self: flex-end;
}



#section4 {
    display: block;
    width: 100%;
    min-height: 115vh;
    background-color: #9EE5C8;
    overflow: hidden;
}
.div9 h1 {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 2rem;
}
.div10 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 2rem 5rem;
}
.div11 {
    display: flex;
    justify-content: center;
    background-color: #bde2d3;
    padding: 0.5rem;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.div11 img {
    max-width: 75%;
    height: 75px;
    object-fit: contain;
    opacity: 0.7;
    transition: 0.3s;
}
.div11:hover img {
    opacity: 1;
    transform: translateY(-4px) scale(1.03);
}
.div11:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.05);
}
.div12 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 75rem;
    margin: 0 auto;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3.5rem;
    background-color: #bde2d3;
    border-radius: 7rem;
}
.div12 h1 {
    font-weight: 400;
}
.div12 p {
    color: rgb(114, 113, 113);
    font-size: 1.1rem;
}
.div13 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0.7rem;
    color: white;
    border-radius: 2rem 4rem;
    max-width: 200px;
}



#section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    min-height: 140vh;
    background-color: rgb(240, 238, 238);
}
.div14 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
    gap: 1rem;
    margin-bottom: 2rem;
}
.div14 img {
    width: 100%;
    max-width: 35rem;
    justify-self: center;
    height: 15rem;
    object-fit: cover;
    border-radius: 5rem;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.div14 img:hover{
    transform: scale(1.03);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.05);
}
.fa-solid {
    font-size: 1rem;
    color: #9EE5C8;
    padding-right: 0.5rem;
}
.div15 {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    text-align: center;
    gap: 1rem;
    align-items: center;
}
.div15 h1 {
    font-size: 3.2rem;
    font-weight: 400;
}
.div15 p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: rgb(114, 113, 113);
}
